button,
.button {
    font-family: var(--font-family-heading);
    font-size: var(--button-font-size, 2.5rem);
    display: var(--button-display, inline);
    cursor: pointer;
    text-decoration: none;
    padding: var(--button-padding, 1rem 2rem);
    font-weight: var(--button-font-weight, 600);
    border: var(--button-border, none);
    border-radius: var(--button-border-radius, 10px);
    color: var(--button-text, var(--pampas));
    background-color: var(--button-background, var(--chestnut));
    margin-bottom: var(--button-margin-bottom, 0);
    margin-block: var(--button-margin-block);
    /* Fix hover effect https://css-tricks.com/cool-hover-effects-using-background-properties/ */
    background: linear-gradient(var(--chestnut) 0 0) left / var(--background-size, 0%) no-repeat;
    transition: .4s, background-position 0s;
}

button:hover,
.button:hover {
    --background-size: 100%;
    color: var(--button-text-hover, var(--pampas));
    background-color: var(--button-background-color-hover, var(--pampas));
}

button[data-type='wide'],
.button[data-type='wide'] {
    --button-font-size: clamp(1.75rem, calc(1.49rem + 1.30vw), 2.5rem);
    --button-padding: max(1vh, 1rem) max(3vh, 1.5rem);
    --button-border-color: var(--chestnut);
    --button-border: 2px solid var(--button-border-color, var(--chestnut));
    --button-text: var(--chestnut);
    --button-background: var(--pampas);
    --button-text-hover: var(--pampas);
    --button-background-color-hover: var(--chestnut);
    --button-margin-block: 1rem;
    box-shadow: var(--box-shadow);
}

button[data-type='narrow'],
.button[data-type='narrow'] {
    --button-font-size: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    --button-padding: 0 max(3vh, 1rem);
    --button-border-color: var(--chestnut);
    --button-border: 2px solid var(--button-border-color, var(--chestnut));
    --button-text: var(--chestnut);
    --button-background: var(--pampas);
    --button-text-hover: var(--pampas);
    --button-background-color-hover: var(--chestnut);
    --button-display: inline-flex;
    --button-margin-bottom: .5rem;
    box-shadow: var(--box-shadow);
    margin-top: 1em;
}

.sticky-button {
    position: sticky;
    width: 100%;
    background-color: var(--chestnut);
    padding: max(1vh, 1rem) max(3vh, 1.5rem);
    border-radius: 4px 4px 0 0;
    margin: 0;
    bottom: 0;
    box-shadow: var(--box-shadow);
    z-index: 1100;
}

div.book-now-button.sticky-button a.family-pass-button span.book-now-button-text i.fa-solid.fa-arrow-right-long {
    margin-left: .5rem;
}

/* Higher z-index because of the leaflet map */
@media only screen and (width >=768px) {
    .sticky-button {
        width: fit-content;
        border-radius: 4px;
        margin-left: auto;
        margin-right: 1rem;
        bottom: 1rem;
    }
}

