@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600;700&family=Permanent+Marker&display=swap');

:root {
    --nandor: hsl(156, 15%, 33%);
    --armadillo: hsl(51, 6%, 24%);
    --indian-khaki: hsl(29, 27%, 65%);
    --chestnut: hsl(0, 48%, 52%);
    --concrete: hsl(0, 0%, 95%);
    --nandor-opacity: hsla(156, 15%, 33%, 70%);
    --concrete-opactity: hsla(0, 0%, 95%, 20%);
    --standard-padding: 1rem;
    --standard-margin: 1rem;
    --header-height: 78px;
    --nav-item-width: var(--header-height);
    --nav-item-height: var(--header-height);
    --font-family-heading: 'Permanent Marker', cursive;
    --font-family-body: 'Overpass', sans-serif;
    --font-family-weight-light: 300;
    --font-family-weight-semi-bold: 600;
    --font-family-weight-bold: 700;
    --wide-container-width: 90%;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--concrete);
    min-height: 100vh;
}

.wide-container {
    max-width: var(--wide-container-width);
    margin: 0 auto;
}

@media screen and (width >= 1400px) {
    .wide-container {
        --wide-container-width: 1320px;
    }
}
