@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&family=Permanent+Marker&display=swap');
/* https://getbootstrap.com/docs/5.2/layout/containers/ */
:root {
    --xx-large-container: 1400px;
    --x-large-container: 1200px;
    --large-container: 992px;
    --medium-container: 768px;
    --small-container: 576px;
    --extra-container: 576px; /* use with less than */
    --font-family-permanent-marker: 'Permanent Marker',
    cursive;
    --font-family-overpass: 'Overpass',
    sans-serif;
    --shark: hsl(228, 7%, 14%);
    --verdun-green-light: hsl(79, 96%, 18%);
    --verdun-green-dark: hsl(79, 97%, 13%);
    --chestnut: hsl(0, 45%, 42%);
    --pampas: hsl(60, 23%, 94%);
    --svg-fill: var(--chestnut);
    --verdun-green-dark-opacity: hsla(79, 97%, 13%, 70%);
    --pampas-opacity: hsla(60, 21%, 94%, 20%);
    --standard-padding: 1rem;
    --standard-margin: 1rem;
    --standard-gap: 1rem;
    --header-height: clamp(3rem, calc(2.30rem + 3.48vw), 5rem);
    --nav-item-width: var(--header-height);
    --nav-item-height: var(--header-height);
    --font-family-heading: var(--font-family-permanent-marker);
    --font-family-body: var(--font-family-overpass);
    --font-family-weight-light: 300;
    --font-family-weight-regular: 400;
    --font-family-weight-semi-bold: 600;
    --font-family-weight-bold: 600;
    --font-color-hero-title: var(--pampas);
    --font-color-heading: var(--shark);
    --font-color-body: var(--shark);
    --trail-list-item-hover-bg: var(--verdun-green-light);
    --icon-social-color: var(--pampas);
    --icon-social-hover-color: var(--pampas);
    --box-shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
    --filter-drop-shadow: drop-shadow(0px 2px 5px hsla(0, 0%, 0%, 0.14));
    --body-background-color: var(--pampas);
    --trail-stats-border-color: var(--verdun-green-light);
    --trail-stats-border: 4px solid var(--trail-stats-border-color);
    --trail-stats-font-color: var(--shark);
    --container-width-wide: 87.5rem;
    --container-width-regular: 75rem;
    --container-width-full: 100%;
    --footer-small-font-color: var(--shark);
    --form-input-bg: var(--pampas);
    --form-input-border: var(--shark);
    }

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --font-color-hero-title: var(--pampas);
        --font-color-heading: var(--pampas);
        --font-color-body: var(--pampas);
        --icon-social-color: var(--shark);
        --body-background-color: var(--shark);
        --trail-stats-border: 4px solid var(--pampas);
        --trail-stats-font-color: var(--pampas);
        --form-input-bg: var(--shark);
        --form-input-border: var(--pampas);
    }
}



/* Reset default */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-body);
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100%;
    /* Fix error with scroll to content https://www.youtube.com/watch?v=iGUSTyG-CYw */
    overflow: auto;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body {
    min-height: 100%;
    background-color: var(--body-background-color);
    display: flex;
    flex-direction: column;
}

img, 
picture, 
svg,
video {
    display: block;
    max-width: 100%;
}

input, 
textarea,
button,
select {
    font: inherit;
    border: none;
    background-color: var(--pampas);
}

input:focus-visible,
textarea:focus-visible {
    border: none;
}

 input:focus,
 textarea:focus,
 select:focus {
     outline: none;
 }

/* end Reset default */

.container {
    width: min(100% - var(--container-padding), var(--container-max-width));
    margin-inline: auto;
}

.container[data-type="regular"] {
    --container-max-width: var(--container-width-wide);
    --container-padding: calc(var(--standard-padding) * 2);
}

@media only screen and (width >=768px) {
    .container[data-type="regular"] {
        --container-max-width: var(--container-width-regular);
        --container-padding: calc(var(--standard-padding) * 2);
    }
}

.container[data-type="wide"] {
    --container-max-width: var(--container-width-wide);
    --container-padding: calc(var(--standard-padding) * 2);
}

.container[data-type="full"] {
    --container-max-width: var(--container-width-full);
}

@media only screen and (width >=768px) {
    .container[data-type="full"] {
        --container-max-width: var(--container-width-wide);
        --container-padding: calc(var(--standard-padding) * 2);
    }
}

/* @see https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/style.css#L112 */
.visually-hidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}