@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600;700&family=Permanent+Marker&display=swap');

:root {
    --shark: hsl(228, 7%, 14%);
    --verdun-green-light: hsl(79, 96%, 18%);
    --verdun-green-dark: hsl(79, 97%, 13%);
    --limeade: hsl(79, 96%, 28%);
    --pampas: hsl(60, 21%, 94%);
    --svg-fill: var(--limeade);
    --verdun-green-dark-opacity: hsla(79, 97%, 13%, 70%);
    --pampas-opacity: hsla(60, 21%, 94%, 20%);
    --standard-padding: 1rem;
    --standard-margin: 1rem;
    --standard-gap: 1rem;
    --header-height: 78px;
    --nav-item-width: var(--header-height);
    --nav-item-height: var(--header-height);
    --font-family-heading: 'Permanent Marker', cursive;
    --font-family-body: 'Overpass', sans-serif;
    --font-family-weight-light: 300;
    --font-family-weight-regular: 400;
    --font-family-weight-semi-bold: 600;
    --font-family-weight-bold: 700;
    --font-color-hero-title: var(--pampas);
    --font-color-heading: var(--shark);
    --font-color-body: var(--shark);
    --trail-list-item-hover-bg: var(--verdun-green-light);
    --icon-social-color: var(--pampas);
    --icon-social-hover-color: var(--shark);
    --box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --font-color-hero-title: var(--pampas);
        --font-color-heading: var(--pampas);
        --font-color-body: var(--pampas);
        --icon-social-color: var(--shark);
        --icon-social-hover-color: var(--pampas);
    }
}



/* Reset default */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-body);
    font-weight: 300;
}

body {
    min-height: 100vh;
}

img, 
picture, 
svg,
video {
    display: block;
    max-width: 100%;
}

input, 
textarea,
button,
select {
    font: inherit;
}
/* end Reset default */

.container {
    width: min(100% - var(--container-padding), var(--container-max-width));
    margin-inline: auto;
}

.container[data-type="wide"] {
    --container-max-width: 87.5rem;
    --container-padding: calc(var(--standard-padding) * 2);
}
