footer {
    background-color: var(--pampas);
    box-shadow: var(--box-shadow);
    margin-top: 3vh;
    margin-top: auto;
}

footer .footer-bottom {
    width: 100%;
    background-color: var(--shark);
}

footer .social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

footer .social-links .fa-solid.fa-circle.fa-stack-1x {
    filter: var(--filter-drop-shadow);
}

footer .social-links .fa-solid.fa-circle.fa-stack-1x::before {
    border-radius: 50%;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .social-links .social-link {
    text-align: center;
}               

footer .copyright {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: .5rem;
    padding-block: max(1vh, .5rem);
}

footer .copyright .clause,
footer .copyright .website-name {
    flex: 0 0 100%;
    text-align: center;
}
