footer {
    background-color: var(--concrete);
    box-shadow: var(--box-shadow);
    margin-top: 3vh;
}

footer .footer-bottom {
    width: 100%;
    background-color: var(--shark);
}

footer .social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

footer .social-links .fa-solid.fa-circle.fa-stack-2x {
    filter: var(--filter-drop-shadow);
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .social-links .social-link {
    margin-top: var(--standard-margin);
    margin-bottom: var(--standard-margin);
    text-align: center;
}

footer .copyright {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding-block: max(1vh, .5rem);
}

footer .copyright .clause {
    flex: 0 0 100%;
    text-align: center;
    border-bottom: 1px solid var(--pampas);
    padding-bottom: .5rem;
}

footer .copyright .website-name,
footer .copyright .webwork {
    color: var(--pampas);
    flex: 0 0 50%;
}

footer .copyright .webwork {
    text-align: right;
}
