header {
    background-color: var(--nandor-opacity);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

header nav {
    display: flex;
}

header nav > div {
    background-color: var(--nandor);
    height: var(--nav-item-height);
    width: var(--nav-item-width);
}

header nav div.logo {
    background-image: url('../media/images/logo.svg');
    background-size: cover;
}

header nav div.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav div.menu-icon:hover {
    background-color: var(--armadillo);
    color: var(--concrete);
}

header nav div:nth-child(2) {
    margin-left: auto;
}

header nav div.active {
    background-color: var(--armadillo);
    color: var(--nandor);
}