header {
    background-color: var(--verdun-green-dark-opacity);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: var(--box-shadow);
}

header nav .menu {
    display: flex;
    list-style: none;
}

header .menu li {
    background-color: var(--verdun-green-dark);
    height: var(--nav-item-height);
    width: var(--nav-item-width);
}

@media only screen and (width >=768px) {
    header .menu li {
        background-color: initial;
        padding: 1rem;
        width: auto;
    }
}

header nav .logo {
    background-image: url('../media/images/logo.svg');
    background-size: cover;
    cursor: pointer;
}

header nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

header nav li:hover {
    background-color: var(--pampas);
}

header nav li:hover i.fa-solid {
    color: var(--verdun-green-dark);
}

header nav li:nth-child(2) {
    margin-left: auto;
}

header nav .active {
    background-color: var(--pampas);
}

header nav .active i.fa-solid {
    color: var(--verdun-green-dark);
}

@media only screen and (width >=768px) {
    header .nav-icon {
        display: none;
    }
}

header .nav-title {
    display: none;
}

@media only screen and (width >=768px) {
    header .nav-title {
        font-size: 2rem;
    }
}


@media only screen and (width >=768px) {
   header .nav-title {
       display: inline-flex;
   }
}

.skip-nav-link {
    position: absolute;
    transform: translateY(-120%);
}

.skip-nav-link:focus {
    transform: translateY(0);
}

.hero-section {
    display: grid;
    place-items: center;
    isolation: isolate;
}

.hero-section > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.hero-section .hero-image {
    width: 100vw;
    height: 100vh;
    position: relative;
    object-fit: cover;
    z-index: -1;
}

.hero-section > .footprints {
    place-self: end center;
    margin-bottom: 3rem;
}

.footprints img {
    height: 179px;
    margin-inline: auto;
}

#bootprints-light_down-u-bootprints-light-down__right {
    animation: bootprints-light_down-u-bootprints-light-down__right_c_o 3000ms linear infinite normal forwards
}

.hero-section .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .45);
}

@keyframes bootprints-light_down-u-bootprints-light-down__right_c_o {
    0% {
        opacity: 0
    }

    16.666667% {
        opacity: 0.75
    }

    33.333333% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    66.666667% {
        opacity: 1
    }

    83.333333% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}