.hero-image {
    height: 100vh;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.trails .trail {
    display: flex;
    gap: calc(var(--standard-gap) / 2);
    margin-block: max(5vh, 2rem);
}

.trail .trail-image {
    flex: 0 1 40%;
}

.trail .trail-summary {
     flex: 0 1 60%;
}


.trail-image {
    position: relative;
}

.trail-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.trail-details {
    height: 100vh;
    position: relative;

}

.trail-details .trail-image,
.trail-details .trail-overview img {
    height: 40vh;
}

.trail-details .trail-overview img {
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.trail-stats {
    display: flex;
    border-left: 4px solid var(--concrete);
    border-right: 4px solid var(--concrete);
    border-bottom: 4px solid var(--concrete);
}

.trail-stats > div {
    width: 100%;
    text-align: center;
    padding-block: max(3vh, 1rem);
}

.trail-stats .duration {
    border-right: 4px solid var(--concrete);
}

.trail-stats .level {
    border-left: 4px solid var(--concrete);
}