/* section:not(:first-child) {
    padding-block: max(3vh, 1rem);
} */

section.section-header {
    display: grid;
    place-items: center;
    isolation: isolate;
}

section.section-header>* {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

section.section-header .section-header-image {
    display: grid;
    width: 100vw;
    /* height: calc(50vh - var(--header-height)); */
    position: relative;
    object-fit: cover;
    z-index: -1;
}

.section-header .section-header-image img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    margin-bottom: max(3vh, 1rem);
}

.form-success-message {
    height: 100vh;
    display: grid;
}

.form-success-message .thank-you-message {
    place-self: center;
}

.form-success-message .button {
    place-self: start center;
}

.form-success-message p {
    text-align: center;
}

.text-image {
    display: grid;
}

.text-image .image {
    height: 25vh;
    position: relative;
}

.text-image .text {
    margin-block: max(1vh, 1rem) max(3vh, 1.5rem);
}

.text-image .image img {
    height: 25vh;
    object-fit: cover;
    width: 100%;
}

@media only screen and (width >=768px) {
    .text-image .image img {
        width: 100%;
    }
}

.text-image-part {
    display: grid;
}

@media only screen and (width >=768px) {
    .text-image-part {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.text-image .content-left {
    margin-left: auto;
}

.text-image .content-left + .image,
.text-image .content-left + .map-wrapper {
    order: -1;
}

@media only screen and (width >=768px) {
    .text-image .content-left+.image,
    .text-image .content-left+.map-wrapper {
        order: 1;
    }
}

.text-image .content-left .text {
    margin-left: auto;
    margin-right: 1rem;
}

.text-image .content-right {
    margin-right: auto;
}

.text-image .content-right .text {
    margin-right: auto;
    margin-left: 1rem;
}

.text-image-container {
    width: min(100% - var(--container-padding), var(--container-max-width));
}

.text-image-container[data-type="wide"] {
    --container-max-width: calc(var(--container-width-wide) / 2);
    --container-padding: var(--standard-padding);

}

@media only screen and (width >=768px) {
    .text-image-container {
        margin-block: auto
    }
}