.hero-image {
    height: 100vh;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.trails {
    margin-right: 5%;
}

.trails .trail {
    display: flex;
    gap: calc(var(--standard-gap) / 2);
    margin-bottom: calc(var(--standard-margin) / 2);
}

.trail .trail-image {
    flex: 0 1 40%;
}

.trail .trail-summary {
     flex: 0 1 60%;
}


.trail-image {
    position: relative;
}

.trail-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}