h1.hero-title {
    font-family: var(--font-family-heading);
    font-size: 58px;
}

header nav div.menu-icon i.fa-solid {
    font-size: 48px;
    color: var(--concrete);
}

header nav div.menu-icon:hover i.fa-solid {
    color: var(--nandor);
}


