/* TODO add clamp */
h1.hero-title {
    font-family: var(--font-family-heading);
    font-size: calc(58px + 0.390625vw);
}

h1 {
    font-family: var(--font-family-heading);
    font-size: calc(48px + 0.390625vw);
    text-align: center;
}

h2 {
    font-family: var(--font-family-heading);
    font-size: 48px;
}

h3 {
    font-family: var(--font-family-heading);
    font-size: calc(28px + 0.390625vw);
}

h4 {
    font-family: var(--font-family-heading);
    font-size: calc(24px + 0.390625vw);
}

h5 {
    font-family: var(--font-family-heading);
    font-size: 48px;
}

h6 {
    font-family: var(--font-family-heading);
    font-size: 48px;
}

p {
    font-family: var(--font-family-body);
    font-size: calc(16px + 0.390625vw);
}

strong {
    font-family: var(--font-family-body);
    font-weight: 700;
    font-size: calc(18px + 0.390625vw);
}

small strong {
    font-size: calc(14px + 0.390625vw);
}

small {
    font-family: var(--font-family-body);
    font-size: calc(14px + 0.390625vw);
}

a {
    text-decoration: none;
    color: var(--armadillo)
}


header nav div.menu-icon i.fa-solid {
    font-size: 48px;
    color: var(--concrete);
}

header nav div.menu-icon:hover i.fa-solid {
    color: var(--nandor);
}

footer .social-links a i.fa-brands {
    font-size: 40px;
    color: var(--armadillo)
}


