.hidden-small-device {
    display: none;
}

@media only screen and (width >=768px) {
    .grid-col-span-2 {
        grid-column: span 2;
    }

    .grid-row-span-2 {
        grid-row: span 2;
    }

    .hidden-small-device {
        display: inline;
    }
}